<header>
    <div class="navBarTitle">
        <a href="homepage.html"><h1>	Tanguy's Blog	</h1></a>
    </div>
    <nav>
        <ul class="shadow">
            <li class="navBarButton">
                <!--div of class box has to be activePage-->
                <div class="box"></div>
                <a href="category 1.html">	1st Category	</a>
            </li>
            <li class="navBarButton">
                <div class="box"></div>
                <a href="category 2.html">	2nd Category	</a>
            </li>
            <li class="navBarButton">
                <div class="box"></div>
                <a href="#">	3rd Category	</a>
            </li><li class="navBarButton">
                <div class="box"></div>
                <a href="#">	4th Category	</a>
            </li><li class="navBarButton">
                <div class="box"></div>
                <a href="#">	5th Category	</a>
            </li>
        </ul>
    </nav>
</header>